* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(125, 125, 125);
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #f7d354;
    transition: 0.5;
}

a:hover {
    color: #b8930c;
}
